# ==========================================
# Python
# ==========================================

__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/

# VS Code
.vscode/

# Distribution
build/
dist/
*.egg-info/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db
desktop.ini